body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 .5rem;
    background-color:#eee;
    color: #292b2c;}

@media (max-width: 500px) {
    .wrapper {
        margin: 0 auto;}
    body {
        margin: 1rem;}}

input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2px 2px;
    font-size: 13px;
    border: 2px solid #5bc0de;
    border-radius: 5px;
    width: 6.5rem;
    background: #f7f7f7;}

input:focus {
    outline: none;
    background: #fff;}

.wrapper {
    width: 16rem;}

.Heading {
    font-size: 22px;
    text-align: center;
    font-weight: 500;
    margin: .2rem auto .3rem;
    cursor: default;}

.headings {
    font-size: 18px;
    cursor: default;
    width: 8rem;}

.Pairs {
    font-size: 14px; 
    display: flex;
    margin-bottom: 0.6rem;}
    
.pair a:hover {
    color: #d9534f;
    cursor: pointer;}

.R_Amount {
    display: flex;
    padding: 1px;}

.SL_Pips {
    display: flex; 
    padding: 1px;}

.Pairhead {
    padding: 1px 0 0 1px;}

.pair_list {
    padding-top: 10px; }

.stats_hr {
    width: 16rem;
    margin: 1rem auto .1rem 5px;
    border: 1px solid #5bc0de;}

.stats {
    font-size: 18px;
    cursor: default;
    margin-top: .7rem;
    display: flex;
    padding-left: 5px;}

/* .stats_1stCol {}
.stats_2ndCol {} */

.stat_head {
    padding: 1px 0;
    width: 8rem;}

.stat_answ {
    padding: 1px 0 1px 2px;}

    
/******** center button ***********/
#button_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;}

.center {
    font-weight: 500;
    font-size: 18px;
    border-bottom: 2px solid #292b2c;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 16px;}

.center:hover {
    border-bottom: 2px solid #d9534f;
    cursor: pointer;}