body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 .5rem;
}

@media (max-width: 500px) {
    .wrapper {
        margin: 2rem auto auto;
        margin-top: 4rem;
        transform: scale(1.15);}
    body {
        margin: 0;}}

input {
    border: 1px solid #5bc0de;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 0 3px 4px;
    font-size: .9em;
    border-radius: 5px;
    width: 5.3rem;
    background: #f7f7f7;
    height: 20px;}

input:focus {
    outline: none;
    background: #fff;}

.wrapper {
    width: 16rem;}

.Heading {
    font-size: 22px;
    text-align: center;
    font-weight: 500;
    margin: 0 auto .7rem;
    cursor: default;}

.headings {
    position: relative;
    font-size: 18px;
    cursor: default;
    width: 8rem;}

.Pairs {
    font-size: 14px; 
    display: flex;
    margin-bottom: 0.6rem;}
    
.pair a:hover {
    color: #d9534f;
    cursor: pointer;}

.R_Amount {
    display: flex;
    padding: 1px;}

.SL_Pips {
    display: flex; 
    padding: 1px;}

.Pairhead {
    padding: 1px 0 0 1px;}

.pair_list {
    padding-top: 10px; }

.stats_hr {
    width: 16rem;
    margin: 1rem auto .1rem 5px;
    border: 1px solid #5bc0de;}

.stats {
    font-size: 18px;
    cursor: default;
    margin-top: .7rem;
    display: flex;
    padding-left: 5px;}

/* .stats_1stCol {}
.stats_2ndCol {} */

.stat_head {
    padding: 1px 0;
    width: 8rem;}

.stat_answ {
    padding: 1px 0 1px 2px;}

    
/******** center button ***********/
#button_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;}

@media (max-width: 650px) {
    #button_wrap {display: none;}}

.center {
    font-weight: 500;
    font-size: 18px;
    border-bottom: 2px solid #292b2c;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 16px;}

.center:hover {
    border-bottom: 2px solid #d9534f;
    cursor: pointer;}

/*******************  Plus Minus buttons  *******************/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;}

button:hover {
    color: #d9534f;}

button:focus {
    outline: -webkit-focus-ring-color none;}

.quantity_btn_m {
    margin: auto 0 auto .17em;
    font-size: 22px;
    padding: 0 3px 4px 2px;
    transform: scale(1.34,1);
    line-height: 18.5px;
    border: none;
    cursor: pointer;
    font-family: sans-serif;}
    
.quantity_btn_p {
    font-size: 22px;
    padding: 0 3.5px;
    border: none;
    cursor: pointer;
    font-family: sans-serif;}
    
.zero_btn {
    font-size: 18px;
    padding: 0 5px;
    position: absolute;
    right: 0;
    transform: translate(0%, 10%);
    border: none;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;}

.quantity_btn_m:hover, .quantity_btn_p:hover, .zero_btn:hover {
    color: #d9534f;
}

.dark_theme, .white_theme {
    position: absolute;
    bottom: 15px;
    text-align: center;
    font-size: 18px;
    border-bottom: 2px solid #292b2c;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
}
.dark_theme:hover, .white_theme:hover {
    border-bottom: 2px solid #d9534f;
    cursor: pointer;
}